# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/mongod.log

# Where and how to store data.
storage:
  dbPath: {{ install_mongod_dbpath }}
  journal:
    enabled: true
#  engine:
#  mmapv1:
#  wiredTiger:

# how the process runs
processManagement:
  fork: true  # fork and run in background
  pidFilePath: /var/run/mongodb/mongod.pid  # location of pidfile

# network interfaces
net:
  port: 27017
  bindIp: 0.0.0.0 # listen on all interfaces


# Enable security
security:
  authorization: enabled
  keyFile: {{ install_mongod_keyfile }}

#operationProfiling:

{% if install_mongod_replset %}
replication:
  replSetName: {{ install_mongod_replset }}
{% endif %}

#sharding:

## Enterprise-Only Options

#auditLog:

#snmp:
